<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>54164842871-9dluuv7pinvm5o0fc6va6hk8j7d7sq0q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.54164842871-9dluuv7pinvm5o0fc6va6hk8j7d7sq0q</string>
	<key>API_KEY</key>
	<string>AIzaSyB1jEP1OCj2H-iHGyBZVReXjws16FXk6V8</string>
	<key>GCM_SENDER_ID</key>
	<string>54164842871</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.appbrewery.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios-13-723ff</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios-13-723ff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:54164842871:ios:a16bc4f79f8006be8f9972</string>
</dict>
</plist>